@import "variables.less";

@font-face {
  font-family: GraphikLCG;
  src: url(fonts/GraphikLCG-Regular.ttf);
}
@font-face {
  font-family: GraphikLCG;
  src: url(fonts/GraphikLCG-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: GraphikLCG;
  src: url(fonts/GraphikLCG-Semibold.ttf);
  font-weight: bold;
}
html,
body {
  height: 100%;
  font-family: GraphikLCG;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.zapomny-page-container {
  background: url(assets/img/bg.png);
  .main-content {
    flex: 1 0 auto;
    padding-top: 28px;
    @media @mobile {
      padding-top: 0;
    }
  }
  .footer {
    flex-shrink: 0;
    padding: 30px 0 60px;
    width: 1264px;
    box-sizing: border-box;
    &--mobile{
        display: none;
    }
    @media @mobile {
      display: none;
      width: 100%;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 20px;
      .footer-content {
        display: block;
        font-size: 14px;
        line-height: 16px;
        .footer-copyright,
        .footer-email {
          margin-bottom: 4px;
        }
        .footer-contacts {
          display: block;
        }
      }
      &--mobile{
        display: flex;
    }
    }
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      line-height: 21px;
    }
    &-contacts {
      display: flex;
      align-items: center;
    }
    & .footer-email {
      .link {
        color: #ff3838;
      }

      margin-right: 36px;
    }
  }
  .main-header {
    padding: 32px 0;
    width: 1264px;
    @media @mobile {
      display: none;
    }
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    .header__menu-container {
      width: 458px;
      .header-menu {
        width: 100%;
        .menu-list {
          padding: 9px 0;
          .list-item {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin-right: 40px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    .header__info-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: calc(100% - 458px);
      justify-content: space-between;
    }
    .logo-container {
      padding-left: 119px;
      & img {
        width: 169px;
        height: auto;
      }
    }
    .contacts-container {
      .contacts-list {
        .list-item {
          margin-right: 56px;
          &:last-child {
            margin-right: 0;
          }
          .link {
            display: flex;
            align-items: center;
            .contacts-icon {
              width: 24px;
              height: 24px;
              margin-right: 12px;
            }
            span {
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
    }

    &--mobile {
      display: none;
      width: 100%;
      align-items: flex-start;
      box-sizing: border-box;
      padding: 20px 12px 25px 12px;
      z-index: 10;
      justify-content: space-between;
      max-width: 100%;
      box-sizing: border-box;
      .header__menu-container {
        width: 24px;
        height: 24px;
      }
      .header-menu {
        display: none;
      }
      .logo-container {
        padding-left: 0;
        & img {
          width: 140px;
        }
      }
      @media @mobile {
        display: flex;
      }
      .icon-menu {
        width: 24px;
        height: 24px;
      }
      .header__menu-container .header-menu {
        &.active {
          display: flex;
        }

        width: max-content;
        margin-top: 8px;
        .menu-list {
          position: relative;
          flex-direction: column;
          width: max-content;
          padding: 19px 12px 19px 16px;
          transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
          border-radius: 12px;
          box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1);
          background-color: #fff;
          z-index: 11;
          & .list-item {
            margin-bottom: 12px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .contacts-container .contacts-list .list-item .link .contacts-icon {
        width: 28px;
        height: 28px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  ul.list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  ul.list-base {
    list-style-type: disc;
    padding-left: 22px;
  }
  p.paragraph {
    margin-top: 0;
    margin-bottom: 16px;
  }
  a.link {
    text-decoration: none;
    color: @color-black;
  }
  .orange {
    color: @color-orange-one;
  }
  .container {
    width: 1120px;
    @media @mobile {
      width: 100%;
    }
    margin: 0 auto;
  }

  .screen-tabs-container {
    position: relative;
    padding-bottom: 32px;
    width: 100%;
    @media @mobile {
      padding-bottom: 20px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 0;
      }
    }
    width: 100%;
    overflow: hidden;
    .tabs-list {
      @media @mobile {
        display: none;
      }
      width: max-content;
      .list-item {
        padding-bottom: 8px;
        margin-right: 32px;
        border-bottom: 3px solid transparent;
        &:last-child {
          margin-right: 0;
        }
        .link {
          font-weight: 500;
          font-size: 32px;
          @media @mobile {
            font-size: 18px;
            line-height: 18px;
          }
          color: @color-grey-one;
        }

        &.active {
          border-color: @color-orange-three;
          & .link {
            color: @color-black;
          }
        }
      }
      &--mobile {
        display: none;
        padding-left: 12px;
        .list-item {
          margin-right: 40px;
        }
        @media @mobile {
          display: flex;
        }
      }
    }
  }

  .banner-container {
    border-radius: 32px;
    margin-bottom: 32px;
    background: #f5f2ee;
    padding: 60px;
    display: flex;
    flex-direction: row;
    @media @mobile {
      flex-direction: column;
      padding: 20px 14px;
    }
    .banner-title {
      width: calc(50% - 76px);
      padding-right: 100px;
      @media @mobile {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
      }
      p {
        font-weight: 500;
        font-size: 46px;
        line-height: 55px;
        margin: 0;
        @media @mobile {
          font-size: 28px;
          line-height: 34px;
        }
      }
    }
    .banner-description {
      width: 480px;
      @media @mobile {
        width: 100%;
      }
      .form-group {
        width: 100%;
        margin: 0;
        height: 80px;
        @media @mobile {
          height: 72px;
          &:last-child {
            height: 56px;
          }
          & .form-input {
            font-weight: normal;
          }
        }
      }
    }
  }

  .form-group {
    width: 100%;
    margin-bottom: 24px;
    .error-label {
      display: none;
      color: red;
      font-weight: bold;
      margin-top: 4px;
    }
    &.invalid {
      .error-label {
        display: block;
      }
    }
    &--checkbox {
      display: flex;
    }
  }

  .form-input {
    width: 100%;
    border: 1px solid @color-grey-three;
    outline-offset: -2px;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    transition: border-color 0.5s ease-out;
    background-color: transparent;
    padding: 16px;
    outline: none;
    color: @color-black;
    &:focus {
      border: 4px solid @color-orange-one;
      background: #ffffff;
      padding: 13px;
    }
    &::placeholder {
      color: rgba(155, 143, 130, 0.6);
    }
  }

  .form-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      @media @mobile {
        margin-left: 8px;
      }
      &::before {
        content: "";
        display: inline-block;
        min-width: 23px;
        height: 24px;
        border: 1px solid @color-grey-one;
        border-radius: 4px;
        margin-right: 22px;
        background-color: transparent;
        cursor: pointer;
      }
    }
    &:checked + label::before {
      background-color: @color-grey-one;
      transition: background-color 0.3s ease-out;
    }

    &:checked + label,
    &:not(:checked) + label {
      display: inline-block;
      line-height: 20px;
      cursor: pointer;
    }

    &:checked + label:before,
    &:not(:checked) + label:before {
      content: "";
      position: relative;
      left: 0px;
      top: 0px;
      width: 24px;
      height: 24px;
      border: 1px solid @color-grey-one;
      border-radius: 4px;
      background-color: transparent;
      box-sizing: border-box;
    }

    &:checked + label:before {
      background-color: #ff3838;
      border-color: #ff3838;
    }

    &:checked + label:after,
    &:not(:checked) + label:after {
      content: "";
      position: absolute;
    }

    &:checked + label:after,
    &:not(:checked) + label:after {
      left: 5px;
      top: 6px;
      width: 10px;
      height: 5px;
      border-radius: 1px;
      border-left: 4px solid white;
      border-bottom: 4px solid white;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:not(:checked) + label:after {
      opacity: 0;
    }

    &:checked + label:after {
      opacity: 1;
    }
  }
  .form-controls-row {
    display: flex;
    align-items: center;
    .form-group__checkbox {
      display: flex;
      align-items: center;
      position: relative;
      & label {
        position: relative;
        margin-top: 7px;
      }
      span {
        font-size: 16px;
        line-height: 16px;
        @media @mobile {
          font-size: 14px;
          line-height: 14px;
          font-weight: 500;
          color: @color-black;
        }
        color: @color-grey-one;
        a {
          color: @color-blue;
          text-decoration: none;
        }
      }
    }
    @media @mobile {
      flex-direction: column;
      .btn-action {
        width: 100%;
        box-sizing: border-box;
        background-color: @color-red-one;
        box-shadow: 0px 4px 7px rgba(255, 56, 56, 0.15);
      }
    }
  }
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 20px 27px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border-radius: 28px;
    &-action {
      color: #ffffff;
      background: @color-orange-two;
      box-shadow: 0px 4px 7px rgba(110, 100, 77, 0.144613);
    }
  }

  .main-list {
    padding-left: 0px;
    padding-right: 60px;
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 0;
    list-style-type: none;
    counter-reset: my-counter;
    .list-item::before {
      content: counter(my-counter);
      counter-increment: my-counter;
      margin-right: 40px;
      @media @mobile {
        margin-top: 2px;
      }
    }
    .list-base {
      margin-bottom: 8px;
    }
    .list-item {
      display: flex;
      font-size: 24px;
      line-height: 32px;
      padding-left: 0px;
      padding-bottom: 32px;
      @media @mobile {
        font-size: 16px;
        line-height: 19px;
        padding-left: 16px;
        padding-bottom: 20px;
        .paragraph {
          color: @color-grey-four;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
      &__title {
        font-weight: 500;

        margin-bottom: 8px;
      }

      &__description {
        font-weight: normal;

        .image-block {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          @media @mobile {
            flex-direction: column;
          }
          .img-banner {
            width: 488px;
            margin-right: 24px;
            height: auto;
            &:last-child {
              margin-right: 0;
            }
            @media @mobile {
              width: 100%;
              margin-right: 0;
              margin-bottom: 12px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .link {
          color: @color-blue;
        }
      }
      & .img-banner {
        width: 100%;
        height: auto;
        &--mobile {
          display: none;
        }
        @media @mobile {
          &--mobile {
            display: block;
          }
          &--desktop {
            display: none;
          }
        }
        &--size-1 {
          width: 624px;
          @media @mobile {
            width: 100%;
          }
        }
        &--size-2 {
          width: 508px;
          @media @mobile {
            width: 100%;
          }
        }
        &--size-3 {
          width: 902px;
          @media @mobile {
            width: 100%;
          }
        }
      }
    }
    @media @mobile {
      margin-top: 20px;
      padding-left: 8px;
      padding-right: 12px;
    }

    &--activate-page {
      @media @mobile {
        padding-left: 12px;
        & .list-item {
          padding-left: 0;
          padding-bottom: 8px;
          &__title {
            margin-bottom: 12px;
          }
          &::before {
            content: none;
          }
          & .list-base {
            list-style-type: none;
            counter-reset: my-counter;
            padding-left: 12px;
            & li {
              color: @color-grey-four;
              padding-left: 24px;
              position: relative;
              padding-bottom: 9px;
              &::before {
                content: counter(my-counter);
                counter-increment: my-counter;
                position: absolute;
                left: 0;
                top: 0;
                font-weight: 500;
                color: @color-grey-four;
              }
            }
          }
          .img-banner {
            width: calc(100% - 36px);
            height: auto;
            margin-left: 36px;
          }
          &__description .image-block .img-banner {
            width: calc(100% - 36px);
            margin-left: 36px;
            height: auto;
          }
        }
      }
    }
  }

}
.cert-info-title{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .text{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }

  .link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FF3838;
    padding-bottom:4px ;
    border-bottom: 1px dashed #FF3838;
  }
}

