@font-face {
  font-family: GraphikLCG;
  src: url(fonts/GraphikLCG-Regular.ttf);
}
@font-face {
  font-family: GraphikLCG;
  src: url(fonts/GraphikLCG-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: GraphikLCG;
  src: url(fonts/GraphikLCG-Semibold.ttf);
  font-weight: bold;
}
html,
body {
  height: 100%;
  font-family: GraphikLCG;
  width: 100%;
  margin: 0;
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.zapomny-page-container {
  background: url(assets/img/bg.png);
}
.zapomny-page-container .main-content {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-top: 28px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-content {
    padding-top: 0;
  }
}
.zapomny-page-container .footer {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding: 30px 0 60px;
  width: 1264px;
  box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.zapomny-page-container .footer--mobile {
  display: none;
}
@media (max-width: 767px) {
  .zapomny-page-container .footer {
    display: none;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
  }
  .zapomny-page-container .footer .footer-content {
    display: block;
    font-size: 14px;
    line-height: 16px;
  }
  .zapomny-page-container .footer .footer-content .footer-copyright,
  .zapomny-page-container .footer .footer-content .footer-email {
    margin-bottom: 4px;
  }
  .zapomny-page-container .footer .footer-content .footer-contacts {
    display: block;
  }
  .zapomny-page-container .footer--mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.zapomny-page-container .footer-content {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
}
.zapomny-page-container .footer-contacts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.zapomny-page-container .footer .footer-email {
  margin-right: 36px;
}
.zapomny-page-container .footer .footer-email .link {
  color: #ff3838;
}
.zapomny-page-container .main-header {
  padding: 32px 0;
  width: 1264px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-header {
    display: none;
  }
}
.zapomny-page-container .main-header .header__menu-container {
  width: 458px;
}
.zapomny-page-container .main-header .header__menu-container .header-menu {
  width: 100%;
}
.zapomny-page-container .main-header .header__menu-container .header-menu .menu-list {
  padding: 9px 0;
}
.zapomny-page-container .main-header .header__menu-container .header-menu .menu-list .list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 40px;
}
.zapomny-page-container .main-header .header__menu-container .header-menu .menu-list .list-item:last-child {
  margin-right: 0;
}
.zapomny-page-container .main-header .header__info-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 458px);
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.zapomny-page-container .main-header .logo-container {
  padding-left: 119px;
}
.zapomny-page-container .main-header .logo-container img {
  width: 169px;
  height: auto;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item {
  margin-right: 56px;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item:last-child {
  margin-right: 0;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item .link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item .link .contacts-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item .link span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.zapomny-page-container .main-header--mobile {
  display: none;
  width: 100%;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 12px 25px 12px;
  z-index: 10;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  box-sizing: border-box;
}
.zapomny-page-container .main-header--mobile .header__menu-container {
  width: 24px;
  height: 24px;
}
.zapomny-page-container .main-header--mobile .header-menu {
  display: none;
}
.zapomny-page-container .main-header--mobile .logo-container {
  padding-left: 0;
}
.zapomny-page-container .main-header--mobile .logo-container img {
  width: 140px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-header--mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.zapomny-page-container .main-header--mobile .icon-menu {
  width: 24px;
  height: 24px;
}
.zapomny-page-container .main-header--mobile .header__menu-container .header-menu {
  width: -webkit-max-content;
  width: max-content;
  margin-top: 8px;
}
.zapomny-page-container .main-header--mobile .header__menu-container .header-menu.active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.zapomny-page-container .main-header--mobile .header__menu-container .header-menu .menu-list {
  position: relative;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: max-content;
  padding: 19px 12px 19px 16px;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  border-radius: 12px;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 11;
}
.zapomny-page-container .main-header--mobile .header__menu-container .header-menu .menu-list .list-item {
  margin-bottom: 12px;
}
.zapomny-page-container .main-header--mobile .header__menu-container .header-menu .menu-list .list-item:last-child {
  margin-bottom: 0;
}
.zapomny-page-container .main-header--mobile .contacts-container .contacts-list .list-item .link .contacts-icon {
  width: 28px;
  height: 28px;
}
.zapomny-page-container .main-header--mobile .contacts-container .contacts-list .list-item .link .contacts-icon:last-child {
  margin-right: 0;
}
.zapomny-page-container ul.list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.zapomny-page-container ul.list-base {
  list-style-type: disc;
  padding-left: 22px;
}
.zapomny-page-container p.paragraph {
  margin-top: 0;
  margin-bottom: 16px;
}
.zapomny-page-container a.link {
  text-decoration: none;
  color: #000000;
}
.zapomny-page-container .orange {
  color: #E74E27;
}
.zapomny-page-container .container {
  width: 1120px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .zapomny-page-container .container {
    width: 100%;
  }
}
.zapomny-page-container .screen-tabs-container {
  position: relative;
  padding-bottom: 32px;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .zapomny-page-container .screen-tabs-container {
    padding-bottom: 20px;
    overflow-x: scroll;
  }
  .zapomny-page-container .screen-tabs-container::-webkit-scrollbar {
    height: 0;
  }
}
.zapomny-page-container .screen-tabs-container .tabs-list {
  width: -webkit-max-content;
  width: max-content;
}
@media (max-width: 767px) {
  .zapomny-page-container .screen-tabs-container .tabs-list {
    display: none;
  }
}
.zapomny-page-container .screen-tabs-container .tabs-list .list-item {
  padding-bottom: 8px;
  margin-right: 32px;
  border-bottom: 3px solid transparent;
}
.zapomny-page-container .screen-tabs-container .tabs-list .list-item:last-child {
  margin-right: 0;
}
.zapomny-page-container .screen-tabs-container .tabs-list .list-item .link {
  font-weight: 500;
  font-size: 32px;
  color: #A8A8A8;
}
@media (max-width: 767px) {
  .zapomny-page-container .screen-tabs-container .tabs-list .list-item .link {
    font-size: 18px;
    line-height: 18px;
  }
}
.zapomny-page-container .screen-tabs-container .tabs-list .list-item.active {
  border-color: #FF3838;
}
.zapomny-page-container .screen-tabs-container .tabs-list .list-item.active .link {
  color: #000000;
}
.zapomny-page-container .screen-tabs-container .tabs-list--mobile {
  display: none;
  padding-left: 12px;
}
.zapomny-page-container .screen-tabs-container .tabs-list--mobile .list-item {
  margin-right: 40px;
}
@media (max-width: 767px) {
  .zapomny-page-container .screen-tabs-container .tabs-list--mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.zapomny-page-container .banner-container {
  border-radius: 32px;
  margin-bottom: 32px;
  background: #f5f2ee;
  padding: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 767px) {
  .zapomny-page-container .banner-container {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 14px;
  }
}
.zapomny-page-container .banner-container .banner-title {
  width: calc(50% - 76px);
  padding-right: 100px;
}
@media (max-width: 767px) {
  .zapomny-page-container .banner-container .banner-title {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
.zapomny-page-container .banner-container .banner-title p {
  font-weight: 500;
  font-size: 46px;
  line-height: 55px;
  margin: 0;
}
@media (max-width: 767px) {
  .zapomny-page-container .banner-container .banner-title p {
    font-size: 28px;
    line-height: 34px;
  }
}
.zapomny-page-container .banner-container .banner-description {
  width: 480px;
}
@media (max-width: 767px) {
  .zapomny-page-container .banner-container .banner-description {
    width: 100%;
  }
}
.zapomny-page-container .banner-container .banner-description .form-group {
  width: 100%;
  margin: 0;
  height: 80px;
}
@media (max-width: 767px) {
  .zapomny-page-container .banner-container .banner-description .form-group {
    height: 72px;
  }
  .zapomny-page-container .banner-container .banner-description .form-group:last-child {
    height: 56px;
  }
  .zapomny-page-container .banner-container .banner-description .form-group .form-input {
    font-weight: normal;
  }
}
.zapomny-page-container .form-group {
  width: 100%;
  margin-bottom: 24px;
}
.zapomny-page-container .form-group .error-label {
  display: none;
  color: red;
  font-weight: bold;
  margin-top: 4px;
}
.zapomny-page-container .form-group.invalid .error-label {
  display: block;
}
.zapomny-page-container .form-group--checkbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.zapomny-page-container .form-input {
  width: 100%;
  border: 1px solid #9B8F82;
  outline-offset: -2px;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  transition: border-color 0.5s ease-out;
  background-color: transparent;
  padding: 16px;
  outline: none;
  color: #000000;
}
.zapomny-page-container .form-input:focus {
  border: 4px solid #E74E27;
  background: #ffffff;
  padding: 13px;
}
.zapomny-page-container .form-input::-webkit-input-placeholder {
  color: rgba(155, 143, 130, 0.6);
}
.zapomny-page-container .form-input:-ms-input-placeholder {
  color: rgba(155, 143, 130, 0.6);
}
.zapomny-page-container .form-input::placeholder {
  color: rgba(155, 143, 130, 0.6);
}
.zapomny-page-container .form-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.zapomny-page-container .form-checkbox + label {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .zapomny-page-container .form-checkbox + label {
    margin-left: 8px;
  }
}
.zapomny-page-container .form-checkbox + label::before {
  content: "";
  display: inline-block;
  min-width: 23px;
  height: 24px;
  border: 1px solid #A8A8A8;
  border-radius: 4px;
  margin-right: 22px;
  background-color: transparent;
  cursor: pointer;
}
.zapomny-page-container .form-checkbox:checked + label::before {
  background-color: #A8A8A8;
  transition: background-color 0.3s ease-out;
}
.zapomny-page-container .form-checkbox:checked + label,
.zapomny-page-container .form-checkbox:not(:checked) + label {
  display: inline-block;
  line-height: 20px;
  cursor: pointer;
}
.zapomny-page-container .form-checkbox:checked + label:before,
.zapomny-page-container .form-checkbox:not(:checked) + label:before {
  content: "";
  position: relative;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  border: 1px solid #A8A8A8;
  border-radius: 4px;
  background-color: transparent;
  box-sizing: border-box;
}
.zapomny-page-container .form-checkbox:checked + label:before {
  background-color: #ff3838;
  border-color: #ff3838;
}
.zapomny-page-container .form-checkbox:checked + label:after,
.zapomny-page-container .form-checkbox:not(:checked) + label:after {
  content: "";
  position: absolute;
}
.zapomny-page-container .form-checkbox:checked + label:after,
.zapomny-page-container .form-checkbox:not(:checked) + label:after {
  left: 5px;
  top: 6px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.zapomny-page-container .form-checkbox:not(:checked) + label:after {
  opacity: 0;
}
.zapomny-page-container .form-checkbox:checked + label:after {
  opacity: 1;
}
.zapomny-page-container .form-controls-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.zapomny-page-container .form-controls-row .form-group__checkbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.zapomny-page-container .form-controls-row .form-group__checkbox label {
  position: relative;
  margin-top: 7px;
}
.zapomny-page-container .form-controls-row .form-group__checkbox span {
  font-size: 16px;
  line-height: 16px;
  color: #A8A8A8;
}
@media (max-width: 767px) {
  .zapomny-page-container .form-controls-row .form-group__checkbox span {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #000000;
  }
}
.zapomny-page-container .form-controls-row .form-group__checkbox span a {
  color: blue;
  text-decoration: none;
}
@media (max-width: 767px) {
  .zapomny-page-container .form-controls-row {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .zapomny-page-container .form-controls-row .btn-action {
    width: 100%;
    box-sizing: border-box;
    background-color: #FF3838;
    box-shadow: 0px 4px 7px rgba(255, 56, 56, 0.15);
  }
}
.zapomny-page-container .btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 20px 27px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border-radius: 28px;
}
.zapomny-page-container .btn-action {
  color: #ffffff;
  background: #B63E1F;
  box-shadow: 0px 4px 7px rgba(110, 100, 77, 0.144613);
}
.zapomny-page-container .main-list {
  padding-left: 0px;
  padding-right: 60px;
  margin-bottom: 0;
  font-weight: 500;
  margin-top: 0;
  list-style-type: none;
  counter-reset: my-counter;
}
.zapomny-page-container .main-list .list-item::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item::before {
    margin-top: 2px;
  }
}
.zapomny-page-container .main-list .list-base {
  margin-bottom: 8px;
}
.zapomny-page-container .main-list .list-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 32px;
  padding-left: 0px;
  padding-bottom: 32px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item {
    font-size: 16px;
    line-height: 19px;
    padding-left: 16px;
    padding-bottom: 20px;
  }
  .zapomny-page-container .main-list .list-item .paragraph {
    color: #A09488;
  }
  .zapomny-page-container .main-list .list-item .paragraph:last-child {
    margin-bottom: 0;
  }
  .zapomny-page-container .main-list .list-item:last-child {
    padding-bottom: 0;
  }
}
.zapomny-page-container .main-list .list-item__title {
  font-weight: 500;
  margin-bottom: 8px;
}
.zapomny-page-container .main-list .list-item__description {
  font-weight: normal;
}
.zapomny-page-container .main-list .list-item__description .image-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item__description .image-block {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.zapomny-page-container .main-list .list-item__description .image-block .img-banner {
  width: 488px;
  margin-right: 24px;
  height: auto;
}
.zapomny-page-container .main-list .list-item__description .image-block .img-banner:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item__description .image-block .img-banner {
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
  }
  .zapomny-page-container .main-list .list-item__description .image-block .img-banner:last-child {
    margin-bottom: 0;
  }
}
.zapomny-page-container .main-list .list-item__description .link {
  color: blue;
}
.zapomny-page-container .main-list .list-item .img-banner {
  width: 100%;
  height: auto;
}
.zapomny-page-container .main-list .list-item .img-banner--mobile {
  display: none;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item .img-banner--mobile {
    display: block;
  }
  .zapomny-page-container .main-list .list-item .img-banner--desktop {
    display: none;
  }
}
.zapomny-page-container .main-list .list-item .img-banner--size-1 {
  width: 624px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item .img-banner--size-1 {
    width: 100%;
  }
}
.zapomny-page-container .main-list .list-item .img-banner--size-2 {
  width: 508px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item .img-banner--size-2 {
    width: 100%;
  }
}
.zapomny-page-container .main-list .list-item .img-banner--size-3 {
  width: 902px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item .img-banner--size-3 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list {
    margin-top: 20px;
    padding-left: 8px;
    padding-right: 12px;
  }
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list--activate-page {
    padding-left: 12px;
  }
  .zapomny-page-container .main-list--activate-page .list-item {
    padding-left: 0;
    padding-bottom: 8px;
  }
  .zapomny-page-container .main-list--activate-page .list-item__title {
    margin-bottom: 12px;
  }
  .zapomny-page-container .main-list--activate-page .list-item::before {
    content: none;
  }
  .zapomny-page-container .main-list--activate-page .list-item .list-base {
    list-style-type: none;
    counter-reset: my-counter;
    padding-left: 12px;
  }
  .zapomny-page-container .main-list--activate-page .list-item .list-base li {
    color: #A09488;
    padding-left: 24px;
    position: relative;
    padding-bottom: 9px;
  }
  .zapomny-page-container .main-list--activate-page .list-item .list-base li::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
    color: #A09488;
  }
  .zapomny-page-container .main-list--activate-page .list-item .img-banner {
    width: calc(100% - 36px);
    height: auto;
    margin-left: 36px;
  }
  .zapomny-page-container .main-list--activate-page .list-item__description .image-block .img-banner {
    width: calc(100% - 36px);
    margin-left: 36px;
    height: auto;
  }
}
