@color-orange-one:#E74E27;
@color-orange-two:#B63E1F;
@color-orange-three:#FF3838;
@color-black:#000000;
@color-grey-one:#A8A8A8;
@color-grey-two:#F5F2EE;
@color-grey-three:#9B8F82;
@color-grey-four:#A09488;
@color-blue:blue;
@color-red-one:#FF3838;

@mobile: ~"(max-width: 767px)";
@smartphone: ~"(max-width: 450px)";
@large: ~"(min-width: 1200px)";
@small_notebook: ~"(min-width: 1200px) and (max-width: 1400px)";
@notebook: ~"(min-width: 1200px) and (max-width: 1601px)";
@large_notebook: ~"(min-width: 1601px) and (max-width: 1871px)";