<div class="section-white">
    <div class="tabs tabs--two">
      <div class="menu-container" id="tabs-container2">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="menu">
            
            <li [ngbNavItem]="1" class="tab-link">
              <a ngbNavLink>Как пользоваться?</a>
              <ng-template ngbNavContent>
                <div class="left">
                    <div class="text">
                      <div class="text-container" [class.open]="isShown">
                        <p>Глен Баллис штурмует небеса вместе с талантливыми отличниками из Lucky Group (и примкнувшим к ним Александром Сысоевым): почти в унисон загремели Loro на Большой Никитской, где австралийский шеф расписывается в любви к итальянской классике, и Eva — упражнение на тему современной греческой кухни на Большой Грузинской (и это не говоря про запущенный с Аркадием Новиковым «№13» — овощной бастион на подступах к Патриаршим, — и петербургскую вылазку под названием Nama).
                        </p><p>Кажется, что такими темпами можно быстро выйти в тираж, но с «Евой» — порядок: классный интерьер (печь с изразцами, букеты, окна в пол, коммунальный стол из дуба, который застал еще Западную Римскую империю), солнечное настроение даже хмурой московской зимой, барная карта с вермутами, джинами, хересами, метаксой и коктейлями со специями и травами (очередная убедительная работа Максима Горелика и Андрея Пруцких) — ну и роллс-ройсовского качества еда Баллиса.
                        </p><p>Пробовать можно все, наши же фавориты пока такие: образцовый дзадзики с горячей лепешкой, тарамасалата с легким, как выдох, и очень свежим специфическим рыбным привкусом (его не спутать ни с чем), фрикадельки из баранины в томатном соусе и олимпийского уровня осьминог с томатами на гриле и тахини. Недешево, но эта инвестиция в себя в условиях наших широт оправдана на все сто.
                        </p> 
                      </div>
                      <div class="text-show" (click)="toggle()">
                        <font *ngIf="!isShown">Показать весь текст</font>
                        <font *ngIf="isShown">Свернуть</font>
                        
                      </div>
                      
                    </div>
                  </div>
                  <div class="right">
          
          
                      
                    <div class="tabs-slider">
                      
                    </div>
                  </div>
                 
              </ng-template>
            </li>
            <li [ngbNavItem]="3" class="tab-link">
              <a ngbNavLink>Правила использования</a>
              <ng-template ngbNavContent>
                
              </ng-template>
            </li>
          </ul>
        
      </div>
      <div class="tabs-content">
      
        <div [ngbNavOutlet]="nav" class="tabs-content-item"></div>
      
   
      </div>
    </div>
  </div>