<div [style.display]="service.docIsOpen?'none':'block'" style="z-index: 5;position: relative;">
    <app-header></app-header>
    <main class="main-content">
        <div class="container">
         
            <router-outlet></router-outlet>
        </div>
    </main>
    <app-footer></app-footer>
</div>

<app-doc *ngIf="service.docIsOpen"></app-doc>