    
        <header class="main-header">
        <div class="header__menu-container">
          <nav class="header-menu">
            <ul class="list menu-list">
              <li class="list-item">
                <a class="link" href=""> Что такое Zapomni.Gift? </a>
              </li>
              <li class="list-item">
                <a class="link" href=""> Как подарить? </a>
              </li>
              <li class="list-item">
                <a class="link" href=""> Контакты </a>
              </li>
            </ul>
          </nav>
        </div>
      
        <div class="header__info-container">
          <div class="logo-container">
            <img class="logo-container-image--first" src="assets/img/logo-2.svg" alt="" />
            <span class="logo-container-devider"></span>
            <img class="logo-container-image--second" src="assets/img/logo-1.svg" alt="" />
          </div>
          <div class="contacts-container">
            <ul class="list contacts-list">
              <li class="list-item list-item--position">
                <a class="link" href="">
                  <svg
                    class="icon contacts-icon"
                    viewBox="0 0 24 26"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.0381 1C10.5353 0.999942 9.05974 1.40122 7.76396 2.16237C6.46817 2.92352 5.39916 4.01691 4.66744 5.32954C3.93571 6.64216 3.56781 8.12639 3.60176 9.6288C3.63572 11.1312 4.07028 12.5973 4.86056 13.8755L11.5582 24.6676C11.6212 24.7692 11.709 24.8531 11.8135 24.9113C11.918 24.9695 12.0356 25 12.1551 25C12.2758 24.9992 12.3942 24.9674 12.499 24.9075C12.6038 24.8476 12.6913 24.7618 12.7533 24.6582L19.2858 13.7585C20.0493 12.4776 20.4597 11.0174 20.4753 9.52632C20.4909 8.03529 20.1111 6.56675 19.3745 5.27023C18.638 3.97371 17.5711 2.89551 16.2824 2.14541C14.9937 1.3953 13.5292 1.00009 12.0381 1ZM18.0779 13.0375L12.1458 22.9446L6.05916 13.1323C5.40188 12.0706 5.039 10.8531 5.00776 9.60477C4.97652 8.35648 5.27805 7.12235 5.88139 6.0291C6.48474 4.93586 7.36816 4.02287 8.44097 3.38388C9.51377 2.74489 10.7373 2.40292 11.986 2.39307C13.2346 2.38322 14.4634 2.70586 15.5461 3.32785C16.6289 3.94984 17.5266 4.84878 18.1471 5.93237C18.7676 7.01597 19.0886 8.24519 19.077 9.49382C19.0655 10.7425 18.7219 11.9655 18.0814 13.0375H18.0779Z"
                      fill="black"
                      stroke="black"
                      stroke-width="0.2"
                    />
                    <path
                      d="M12.0377 4.97266C11.1138 4.97266 10.2106 5.24664 9.44234 5.75995C8.67412 6.27325 8.07538 7.00283 7.72181 7.85643C7.36824 8.71003 7.27572 9.64932 7.45597 10.5555C7.63622 11.4617 8.08113 12.2941 8.73444 12.9474C9.38776 13.6007 10.2201 14.0456 11.1263 14.2259C12.0325 14.4061 12.9718 14.3136 13.8254 13.96C14.679 13.6064 15.4086 13.0077 15.9219 12.2395C16.4352 11.4713 16.7092 10.5681 16.7092 9.64413C16.7064 8.40603 16.2133 7.21944 15.3378 6.34397C14.4624 5.4685 13.2758 4.97544 12.0377 4.97266ZM12.0377 12.7694C11.4193 12.7705 10.8145 12.5882 10.2998 12.2455C9.78509 11.9028 9.3836 11.4151 9.14616 10.8442C8.90872 10.2732 8.84601 9.64465 8.96593 9.03803C9.08586 8.43141 9.38304 7.87399 9.81988 7.43633C10.2567 6.99867 10.8136 6.70044 11.42 6.57937C12.0264 6.45831 12.6551 6.51986 13.2265 6.75623C13.7979 6.9926 14.2863 7.39317 14.63 7.90724C14.9736 8.42131 15.1571 9.02577 15.1571 9.64413C15.1565 10.4718 14.8278 11.2655 14.2431 11.8513C13.6584 12.4371 12.8653 12.7672 12.0377 12.7694Z"
                      fill="black"
                      stroke="black"
                      stroke-width="0.2"
                    />
                  </svg>
      
                  <span> Москва </span>
                </a>
              </li>
              <li class="list-item list-item--share" >
                <div class="link"  (click)="showNav=true">
                  <svg
                    class="icon contacts-icon"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.3243 23.9969C14.07 23.9808 13.8275 23.8842 13.6318 23.7211C13.4362 23.5579 13.2976 23.3367 13.2362 23.0895L10.7796 13.2206L0.908367 10.7633C0.661485 10.7014 0.44067 10.5626 0.277823 10.367C0.114975 10.1715 0.0185265 9.92918 0.0024095 9.6752C-0.0137075 9.42122 0.0513419 9.16869 0.18816 8.95409C0.324979 8.7395 0.526483 8.57395 0.763562 8.48136L22.3671 0.0806953C22.5837 -0.0030387 22.8201 -0.0221017 23.0474 0.025819C23.2747 0.0737396 23.4832 0.186584 23.6476 0.350664C23.812 0.514743 23.9253 0.723006 23.9737 0.950186C24.0221 1.17737 24.0035 1.4137 23.9201 1.63052L15.5194 23.2343C15.4315 23.4602 15.2774 23.6542 15.0772 23.7909C14.877 23.9275 14.6401 24.0004 14.3977 24L14.3243 23.9969Z"
                      fill="black"
                    />
                  </svg>

                  <svg class="icon contacts-icon contacts-icon--hover" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4356 0.682568C22.8705 0.513417 23.3642 0.617363 23.694 0.947493C24.0241 1.27733 24.1281 1.77101 23.9592 2.20598L15.7207 23.3906C15.5448 23.8427 15.1095 24.1407 14.6243 24.1411C14.599 24.1411 14.5743 24.1405 14.549 24.1388C14.0374 24.1061 13.6058 23.7461 13.4819 23.2487L11.072 13.5693L1.39288 11.1597C0.895565 11.0355 0.535785 10.6038 0.503351 10.0922C0.470918 9.5807 0.773289 9.10699 1.25094 8.92103L22.4356 0.682568ZM13.529 13.6969L14.8706 19.0828L20.7954 3.84614L5.55871 9.77147L10.9447 11.1126L15.8004 8.84112L13.529 13.6969Z" fill="black"/>
                  </svg>
                    
      
                  <span class="text"> Поделиться </span>
                  <div class="share__nav" *ngIf="showNav" [appClickOutside]="showNav" (clickOutside)="showNav = false">
                    <div class="share__list">
                      <ng-container *ngFor="let item of social.data" >
                        <div class="share__item" *ngIf="item.share_url">
                          <span class="share__link share__link_{{item.short_name}}" (click)="social.share(item)">
                            <img [src]="item.icon" >{{item.formatted_name}}
                          </span>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </header>
      
      <header class="main-header main-header--mobile">
        <div class="header__menu-container">
          <svg
            class="icon icon-menu"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.2647 22.7608H0.9999C0.5864 22.7608 0.25 22.4386 0.25 22.0426V21.0862C0.25 20.6907 0.5864 20.3689 0.9999 20.3689H17.2647C17.6787 20.3689 18.0155 20.6907 18.0155 21.0862V22.0426C18.0155 22.4386 17.6787 22.7608 17.2647 22.7608ZM11.9997 13.1949H0.9999C0.5864 13.1949 0.25 12.8732 0.25 12.4777V11.5213C0.25 11.1257 0.5864 10.804 0.9999 10.804H11.9997C12.4132 10.804 12.7496 11.1257 12.7496 11.5213V12.4777C12.7496 12.8732 12.4132 13.1949 11.9997 13.1949ZM23.0004 3.62999H0.9999C0.5864 3.62999 0.25 3.30822 0.25 2.91271V1.9563C0.25 1.56078 0.5864 1.23901 0.9999 1.23901H23.0004C23.4139 1.23901 23.7503 1.56078 23.7503 1.9563V2.91271C23.7503 3.30822 23.4139 3.62999 23.0004 3.62999Z"
              fill="black"
            />
            <path
              d="M17.2647 22.5217C17.5408 22.5217 17.7655 22.3069 17.7655 22.0427V21.0863C17.7655 20.8227 17.5408 20.6082 17.2647 20.6082H0.9999C0.72425 20.6082 0.5 20.8227 0.5 21.0863V22.0427C0.5 22.3069 0.72425 22.5217 0.9999 22.5217H17.2647ZM11.9997 12.9559C12.2753 12.9559 12.4996 12.7414 12.4996 12.4778V11.5214C12.4996 11.2577 12.2753 11.0432 11.9997 11.0432H0.9999C0.72425 11.0432 0.5 11.2577 0.5 11.5214V12.4778C0.5 12.7414 0.72425 12.9559 0.9999 12.9559H11.9997ZM23.0004 3.39098C23.2761 3.39098 23.5003 3.17648 23.5003 2.91282V1.95641C23.5003 1.69275 23.2761 1.47825 23.0004 1.47825H0.9999C0.72425 1.47825 0.5 1.69275 0.5 1.95641V2.91282C0.5 3.17648 0.72425 3.39098 0.9999 3.39098H23.0004ZM17.2647 23H0.9999C0.4473 23 0 22.5713 0 22.0427V21.0863C0 20.5586 0.4473 20.1299 0.9999 20.1299H17.2647C17.8173 20.1299 18.2655 20.5586 18.2655 21.0863V22.0427C18.2655 22.5713 17.8173 23 17.2647 23ZM11.9997 13.4342H0.9999C0.4473 13.4342 0 13.0063 0 12.4778V11.5214C0 10.9937 0.4473 10.565 0.9999 10.565H11.9997C12.5523 10.565 12.9996 10.9937 12.9996 11.5214V12.4778C12.9996 13.0063 12.5523 13.4342 11.9997 13.4342ZM23.0004 3.86923H0.9999C0.4473 3.86923 0 3.44138 0 2.91282V1.95641C0 1.42784 0.4473 1 0.9999 1H23.0004C23.5521 1 24.0003 1.42784 24.0003 1.95641V2.91282C24.0003 3.44138 23.5521 3.86923 23.0004 3.86923Z"
              fill="white"
            />
          </svg>
          <nav class="header-menu" #menu>
            <ul class="list menu-list">
             
            
              <li class="list-item">
                <a class="link" href=""> Контакты </a>
              </li>
            </ul>
          </nav>
        </div>
      
        <div class="logo-container">
          <img class="logo-container-image--first" src="assets/img/logo-2.svg" alt="" />
            <span class="logo-container-devider"></span>
            <img class="logo-container-image--second" src="assets/img/logo-1.svg" alt="" />
        </div>
        <div class="contacts-container">
          <ul class="list contacts-list">
            <li class="list-item">
              <div class="link"  (click)="showNav=true">
                <svg
                  class="icon contacts-icon"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M27.7579 0.24098C27.6444 0.127124 27.4999 0.0491603 27.3424 0.016789C27.1849 -0.0155822 27.0214 -0.000931416 26.8722 0.0589184L0.520955 10.6008C0.37202 10.6591 0.243392 10.7597 0.150917 10.8902C0.0584425 11.0207 0.00616041 11.1754 0.000511605 11.3352C-0.0051372 11.495 0.0360941 11.653 0.119126 11.7897C0.202158 11.9264 0.323364 12.0359 0.467812 12.1045L10.8603 17.1452L15.901 27.5375C15.9682 27.6761 16.073 27.7931 16.2036 27.8749C16.3341 27.9567 16.4851 28 16.6391 28H16.6686C16.8274 27.9944 16.9812 27.9428 17.1112 27.8514C17.2412 27.76 17.3418 27.6328 17.4008 27.4853L27.9419 1.1257C28.0013 0.976426 28.0155 0.812986 27.9828 0.655694C27.9501 0.498402 27.8719 0.354191 27.7579 0.24098ZM2.85434 11.4343L23.7761 3.06934L11.3071 15.5342L2.85434 11.4343ZM16.5663 25.147L12.4664 16.6945L24.9354 4.22568L16.5663 25.147Z"
                    fill="black"
                  />
                </svg>
                <div class="share__nav" *ngIf="showNav" [appClickOutside]="showNav" (clickOutside)="showNav = false">
                  <div class="share__list">
                    <ng-container *ngFor="let item of social.data" >
                      <div class="share__item" *ngIf="item.share_url">
                        <span class="share__link share__link_{{item.short_name}}" (click)="social.share(item)">
                          <img [src]="item.icon" >{{item.formatted_name}}
                        </span>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
    </header>

    <div class="container">
      <h1 class="header-main-title">
        Подарочный сертификат
во все рестораны Москвы
      </h1>
    </div>


