@color-orange-one: #e74e27;
@color-orange-two: #b63e1f;
@color-orange-three: #ff3838;
@color-black: white;
@color-grey-one: #a8a8a8;
@color-grey-two: #f5f2ee;
@color-grey-three: #9b8f82;
@color-grey-four: #a09488;
@color-blue: blue;
@color-red-one: #ff3838;

@mobile: ~"(max-width: 767px)";
@smartphone: ~"(max-width: 450px)";
@large: ~"(min-width: 1200px)";
@small_notebook: ~"(min-width: 1200px) and (max-width: 1400px)";
@notebook: ~"(min-width: 1200px) and (max-width: 1601px)";
@large_notebook: ~"(min-width: 1601px) and (max-width: 1871px)";

@font-face {
  font-family: GraphikLCG;
  src: url(assets/fonts/GraphikLCG-Regular.ttf);
}
@font-face {
  font-family: GraphikLCG;
  src: url(assets/fonts/GraphikLCG-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: GraphikLCG;
  src: url(assets/fonts/GraphikLCG-Semibold.ttf);
  font-weight: bold;
}
html,
body {
  height: 100%;
  font-family: GraphikLCG;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
div,
form,
header,
nav,
section {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
.zapomny-page-container {
  z-index: 4;
  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 717px;
    background:  linear-gradient(180deg, rgba(6, 4, 49, 0) 50%, #060431 79.17%, #060431 79.43%);;
    @media @mobile {
      background: linear-gradient(180deg, rgba(92, 28, 4, 0) 50%, #5C1C04 78.91%);
      height: 194px;
    }
  }
  background: url(assets/img/bg.png) no-repeat, #060431;
  @media @mobile {
    background: url(assets/img/bg1-m.png)  no-repeat,#5c1d05;
    background-size: 100%;
  }
  background-size: 100%;
  .main-content {
    flex: 1 0 auto;
    padding-top: 28px;
    @media @mobile {
      padding-top: 0;
    }
  }
  .footer {
    flex-shrink: 0;
    padding: 30px 0 60px;
    width: 1264px;
    box-sizing: border-box;
    color: @color-black;
    .footer-email .link {
      color: @color-black;
    }
    &--mobile {
      display: none;
    }
    @media @mobile {
      display: none;
      width: 100%;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 20px;
      .footer-content {
        display: block;
        font-size: 14px;
        line-height: 16px;
        .footer-copyright,
        .footer-email {
          margin-bottom: 4px;
        }
        .footer-contacts {
          display: block;
        }
      }
      &--mobile {
        display: flex;
      }
    }
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      line-height: 21px;
    }
    &-contacts {
      display: flex;
      align-items: center;
    }
    & .footer-email {
      .link {
        color: @color-black;
      }

      margin-right: 36px;
    }
  }
  .main-header {
    padding: 37px 0;
    width: 1264px;
    @media @mobile {
      display: none;
    }
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    .header__menu-container {
      width: 458px;
      .header-menu {
        width: 100%;
        .menu-list {
          padding: 9px 0;
          .list-item {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin-right: 40px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    .header__info-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: calc(100% - 458px);
      justify-content: space-between;
    }
    .logo-container {
      padding-left: 119px;
      display: flex;
      align-items: center;
      & .logo-container-devider {
        height: 30px;
        width: 2px;
        margin: 0 20px;
        background-color: transparent;
        @media @mobile{
          background-color: white;
          width:1px;
          margin:0 8px;
        }
      }
      & img {
        width: 169px;
        height: auto;
      }
      & .logo-container-image--first {
        height: 46px;
        width: auto;
      }
      & .logo-container-image--second {
        height: 36px;
        width: auto;
      }
    }
    .contacts-container {
      .contacts-list {
        .list-item {
          margin-right: 56px;
          &:last-child {
            margin-right: 0;
          }
          .link {
            display: flex;
            align-items: center;
            position: relative;
            .contacts-icon {
              width: 24px;
              height: 24px;
              margin-right: 12px;
              & path {
                fill: @color-black;
              }
            }
            span {
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
            }
          }
          &--share {
            width: 129px;
            .icon {
              margin-right: 0 !important;
            }
            .link {
              justify-content: space-between;
              &:before {
                transition: background-color 0.3s ease-in-out;
                content: "";
                display: block;
                width: 172px;
                box-sizing: border-box;
                height: 48px;
                left: -12px;
                position: absolute;
                background-color: transparent;
                padding: 12px 16px;
                border-radius: 8px;
              }
            }
            .contacts-icon--hover {
              display: none;
            }
            &:hover {
              & .contacts-icon {
                display: none;
                &--hover {
                  display: block;
                }
              }

              .link:before {
                content: "";
                background-color: rgba(175, 168, 160, 0.2);
              }
            }
          }
        }
      }
    }

    &--mobile {
      display: none;
      width: 100%;
      align-items: flex-start;
      box-sizing: border-box;
      padding: 20px 12px 25px 12px;
      z-index: 10;
      justify-content: space-between;
      max-width: 100%;
      box-sizing: border-box;
      .header__menu-container {
        width: 24px;
        height: 24px;
      }
      .header-menu {
        display: none;
      }
      .logo-container {
        padding-left: 0;
      }
      @media @mobile {
        display: flex;
      }
      .icon-menu {
        width: 24px;
        height: 24px;
        & path{
          fill:white;
        }
      }
      .header__menu-container .header-menu {
        &.active {
          display: flex;
        }

        width: max-content;
        margin-top: 8px;
        .menu-list {
          position: relative;
          flex-direction: column;
          width: max-content;
          padding: 19px 12px 19px 16px;
          transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
          border-radius: 12px;
          box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1);
          background-color: #fff;
          z-index: 11;
          & .list-item {
            margin-bottom: 12px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .contacts-container .contacts-list .list-item .link .contacts-icon {
        width: 28px;
        height: 28px;
        margin-right: 0;
      }
    }
  }

  ul.list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  ul.list-base {
    list-style-type: disc;
    padding-left: 22px;
  }
  p.paragraph {
    margin-top: 0;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a.link {
    text-decoration: none;
    color: white;
  }
  .link {
    cursor: pointer;
  }
  .orange {
    color: @color-orange-one;
  }
  .container {
    width: 1120px;
    @media @mobile {
      width: 100%;
    }
    margin: 0 auto;

    .description {
      color: @color-black;
      font-weight: 500;
      font-size: 32px;
      line-height: 36px;
      margin-top: 6px;
      margin-bottom: 60px;
      max-width: 940px;
      @media @mobile {
        padding: 0 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
      }
    }

    .section-list {
      list-style-type: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 32px 0;
      .section-item {
        font-size: 16px;

        line-height: 20px;
        padding: 13px 16px;
        border-radius: 22px;
        border: 1px solid white;
        background-color: transparent;
        color: @color-black;
        margin-right: 40px;
        @media @mobile {
          font-weight: 500;
          font-size: 10px;
          line-height: 10px;
          margin-right: 12px;
          border-color: #A8A8A8;
          padding: 9px 11px;
          margin-bottom: 12px;
          color:#A8A8A8;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      @media @mobile {
        padding-top:0;
        padding: 0 16px;

      }
    }
    .info-list {
      list-style-type: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 32px 0 40px;
      @media @mobile {
        padding: 0 16px;
        margin:12px 0;
      }
      & .info-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 50px;
        @media @mobile {
          margin-bottom: 8px;;
        }
        &:last-child {
          margin-right: 0px;
        }
        .info-icon {
          width: 32px;
          height: 32px;
          margin-right: 24px;
          & path {
            fill: @color-black;
          }
          @media @mobile {
            width: 20px;
            height: 20px;
          }
        }
        .title,
        .text {
          color: @color-black;
          font-size: 16px;
          line-height: 20px;
          @media @mobile {
            font-size: 10px;
            line-height: 14px;
          }
          
        }
        .title {
          margin-bottom: 8px;
          @media @mobile {
            margin-bottom: 0;;
          }
        }
      }
    }
  }

  .screen-tabs-container {
    position: relative;
    padding-bottom: 42px;
    width: 100%;
    @media @mobile {
      padding-bottom: 20px;
      overflow-x: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        height: 0;
      }
      &::-webkit-scrollbar {
        width: 0;
      }
    }
    width: 100%;
    overflow: hidden;
    .tabs-list {
      @media @mobile {
        display: none;
      }
      width: max-content;
      .list-item {
        margin-right: 32px;
        background-color: transparent !important;
        outline: none;
        &:last-child {
          margin-right: 0;
        }
        .link {
          background-color: transparent !important;
          outline: none;
          transition: border-color 0.1s ease-out;
          padding-bottom: 8px;
          border-bottom: 3px solid transparent;
          font-weight: 500;
          font-size: 32px;
          @media @mobile {
            font-size: 18px;
            line-height: 18px;
          }
          color: @color-grey-one;
          &.active {
            border-color: @color-orange-three;
            color: @color-black;
          }
        }
      }
      &--mobile {
        display: none;
        padding-left: 12px;
        .list-item {
          margin-right: 40px;
        }
        @media @mobile {
          display: flex;
        }
      }
    }
  }

  .banner-container {
    border-radius: 32px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 32px;
    background: #f5f2ee;
    padding: 40px;
    display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: space-between;
    @media @mobile {
      flex-direction: column;
      padding: 20px 14px;
      width: 100%;
    }
    .banner-title {
      width: calc(50% - 21px);
      padding-right: 10px;
      @media @mobile {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
      }
      p {
        font-weight: 500;
        font-size: 46px;
        line-height: 55px;
        margin: 0;
        @media @mobile {
          font-size: 28px;
          line-height: 34px;
        }
      }
    }
    .banner-description {
      width: 460px;
      @media @mobile {
        width: 100%;
      }
      .form-group {
        width: 100%;
        margin: 0;
        height: 76px;
        @media @mobile {
          height: 76px;
          &:last-child {
            height: 56px;
          }
          & .form-input {
            font-weight: normal;
          }
          margin-bottom:18px;
        }
      }
    }
  }

  .form-group {
    width: 100%;
    margin-bottom: 32px;
    .error-label {
      display: none;
      color: red;
      font-weight: 500;
      margin-top: 4px;
      font-size: 14px;
      margin-bottom: 5px;
    }
    &.invalid {
      .error-label {
        display: block;
      }
    }
    &--checkbox {
      display: flex;
    }

    @media @mobile{
      margin-bottom:18px;
    }
  }

  .form-input {
    width: 100%;
    border: 1px solid #a8a8a8;
    outline-offset: -2px;
    box-sizing: border-box;
    border-radius: 8px;

    font-size: 16px;
    line-height: 16px;
    transition: border-color 0.5s ease-out;
    background-color: transparent;
    padding: 16px;
    outline: none !important;
    box-shadow: none !important;
    -webkit-appearance: none;
    font-family: GraphikLCG;
    color: black;
    &:focus {
      border: 4px solid @color-orange-one;
      background: #ffffff;
      padding: 13px;
    }
    &::placeholder {
      color: #a8a8a8;
      font-weight: normal;
      font-family: GraphikLCG;
    }
    &.touched {
      background: #ffffff;
    }
  }
  .form-textarea {
    resize: none;
    height: 112px;
    @media @mobile{
      height: 56px;
    }
  }

  .form-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      @media @mobile {
        margin-left: 8px;
      }
      &::before {
        content: "";
        display: inline-block;
        min-width: 23px;
        height: 24px;
        border: 1px solid @color-grey-one;
        border-radius: 4px;
        margin-right: 22px;
        background-color: transparent;
        cursor: pointer;
      }
    }
    &:checked + label::before {
      background-color: @color-grey-one;
      transition: background-color 0.3s ease-out;
    }

    &:checked + label,
    &:not(:checked) + label {
      display: inline-block;
      line-height: 20px;
      cursor: pointer;
    }

    &:checked + label:before,
    &:not(:checked) + label:before {
      content: "";
      position: relative;
      left: 0px;
      top: 0px;
      width: 24px;
      height: 24px;
      border: 1px solid @color-grey-one;
      border-radius: 4px;
      background-color: white;
      box-sizing: border-box;
    }

    &:checked + label:before {
      background-color: #ff3838;
      border-color: #ff3838;
    }

    &:checked + label:after,
    &:not(:checked) + label:after {
      content: "";
      position: absolute;
    }

    &:checked + label:after,
    &:not(:checked) + label:after {
      left: 5px;
      top: 6px;
      width: 10px;
      height: 5px;
      border-radius: 1px;
      border-left: 4px solid white;
      border-bottom: 4px solid white;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:not(:checked) + label:after {
      opacity: 0;
    }

    &:checked + label:after {
      opacity: 1;
    }
  }
  .form-controls-row {
    display: flex;
    align-items: center;
    .form-group__checkbox {
      height: 62px !important;
      display: flex;
      align-items: center;
      position: relative;
      & label {
        position: relative;
        margin-top: 7px;
      }
      span {
        font-size: 16px;
        line-height: 16px;
        @media @mobile {
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
          color: black;
          font-family: GraphikLCG;
        }

        a {
          color: @color-blue;
          text-decoration: none;
        }
      }
    }
    @media @mobile {
      flex-direction: column;
      .btn-action {
        width: 100%;
        box-sizing: border-box;
        &--active {
          background-color: @color-red-one;
          box-shadow: 0px 4px 7px rgba(255, 56, 56, 0.15);
        }
      }
    }
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 19px 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border-radius: 28px;
    &-action {
      box-sizing: border-box;
      cursor: default;
      color: #9b8f82;
      border: 1px solid #9b8f82;
      background-color: transparent;
      transition: background-color 0.2s ease-in-out;
      box-sizing: border-box;
      &--active {
        color: #ffffff;
        background: #ff3838;
        box-shadow: 0px 4px 7px rgba(110, 100, 77, 0.144613);
        border-color: unset;
        cursor: pointer;
      }
    }
  }

  .main-list {
    padding-left: 0px;
    padding-right: 60px;
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 0;
    list-style-type: none;
    counter-reset: my-counter;
    .list-item::before {
      content: counter(my-counter);
      counter-increment: my-counter;
      margin-right: 40px;
      @media @mobile {
        margin-top: 2px;
      }
    }
    .list-base {
      margin-bottom: 8px;
    }
    .list-item {
      display: flex;
      font-size: 24px;
      line-height: 32px;
      padding-left: 0px;
      padding-bottom: 32px;
      @media @mobile {
        font-size: 16px;
        line-height: 19px;
        padding-left: 16px;
        padding-bottom: 20px;
        .paragraph {
          color: @color-grey-four;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
      &__title {
        font-weight: 500;

        margin-bottom: 8px;
      }

      &__description {
        font-weight: normal;

        .image-block {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          @media @mobile {
            flex-direction: column;
          }
          .img-banner {
            width: 488px;
            margin-right: 24px;
            height: auto;
            &:last-child {
              margin-right: 0;
            }
            @media @mobile {
              width: 100%;
              margin-right: 0;
              margin-bottom: 12px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .link {
          color: @color-blue;
        }
      }
      & .img-banner {
        width: 100%;
        height: auto;
        &--mobile {
          display: none;
        }
        @media @mobile {
          &--mobile {
            display: block;
          }
          &--desktop {
            display: none;
          }
        }
        &--size-1 {
          width: 624px;
          @media @mobile {
            width: 100%;
          }
        }
        &--size-2 {
          width: 508px;
          @media @mobile {
            width: 100%;
          }
        }
        &--size-3 {
          width: 902px;
          @media @mobile {
            width: 100%;
          }
        }
      }
    }
    @media @mobile {
      margin-top: 20px;
      padding-left: 8px;
      padding-right: 12px;
    }

    &--activate-page {
      @media @mobile {
        padding-left: 12px;
        & .list-item {
          padding-left: 0;
          padding-bottom: 8px;
          &__title {
            margin-bottom: 12px;
          }
          &::before {
            content: none;
          }
          & .list-base {
            list-style-type: none;
            counter-reset: my-counter;
            padding-left: 12px;
            & li {
              color: @color-grey-four;
              padding-left: 24px;
              position: relative;
              padding-bottom: 9px;
              &::before {
                content: counter(my-counter);
                counter-increment: my-counter;
                position: absolute;
                left: 0;
                top: 0;
                font-weight: 500;
                color: @color-grey-four;
              }
            }
          }
          .img-banner {
            width: calc(100% - 36px);
            height: auto;
            margin-left: 36px;
          }
          &__description .image-block .img-banner {
            width: calc(100% - 36px);
            margin-left: 36px;
            height: auto;
          }
        }
      }
    }
  }
  .share__nav {
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    z-index: 11;
    width: 180px;
    box-sizing: border-box;
    padding: 24px 20px;
    padding-left: 32px;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    font-size: 14px;
    font-weight: 500;
    border-radius: 12px;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
    .share__item {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .share__link {
      display: flex;
      align-items: center;
      font-size: 16px;
      cursor: pointer;

      & img {
        height: 15px;
        width: 20px;
        margin-right: 12px;
      }
      &_fb {
        & img {
          height: 19px;
        }
      }
    }
  }
  .form-success-container {
    display: flex;
    align-items: center;
    .icon-success {
      width: 48px;
      height: 48px;
      margin-right: 22px;
    }
    .success-message {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .doc-privacy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 10px 10px;
    position: absolute;
    background-color: white;
    @media @mobile {
      padding-top: 0;
    }
    .doc__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 15px 10px 10px;
      height: 100%;
      box-sizing: border-box;
      width: 100%;
      @media @mobile {
        padding: 0;
      }
    }
    .doc__body {
      width: 100%;
      overflow: auto;
      height: calc(100% - 46px);
    }
    .doc__article {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.15;
      max-width: 640px;
      padding: 10px 10px 40px;
      margin: 0 auto;
      vertical-align: baseline;
      border: 0;
    }
    .doc__footer {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 6px;
    }
    .doc__footer-btn {
      padding: 15px 10px;
      width: 18%;
      @media @mobile {
        width: 100%;
      }
      text-align: center;
      border-radius: 4px;
      transition: background 0.2s ease-in-out;
      cursor: pointer;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1;
      color: #fff;
      background: #bda776;
      &:hover {
        background: #9a875d;
      }
    }
  }
}

.header-main-title {
  margin-top: 50px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 70px;
  color: @color-black;
  line-height: 70px;
  @media @mobile {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 16px;
    padding: 0 16px;
    width: 194px;
    margin-top:4px;
  }
}

.link span {
  color: @color-black;
}

.section-white {
  background: #ffffff;
  border-radius: 32px;
  width: 100%;
  padding: 32px;
  overflow: hidden;
  box-sizing: border-box;
  @media @mobile{
    padding-left: 12px;
    padding-right: 12px;
    padding-top:24px;
    padding-bottom: 16px;
  }
  margin-bottom: 40px;
  .section-footer {
    @media @mobile{
      margin-top:20px;
      order:2;
    }
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    .form-group {
      margin-bottom: 0;
      width: auto;
    }
    &--reverse{
      justify-content: flex-end;
    }
    .btn-action {
      border: unset;
      padding: 12px 20px;
      background: #ff3838;
      box-shadow: 0px 4px 7px rgba(255, 56, 56, 0.15);
      border-radius: 50px;
      font-weight: 500;
     display: flex;
     align-items: center;
     cursor: pointer;
     justify-content: start;
      span{
        font-size: 18px;
        line-height: 24px;
        color: white;
        margin-left: 8px;
      }
      @media @mobile{
        justify-content: center;
      }
    }
  }

  .info-bottom{
    .link-container{
      margin-top:124px;
      margin-bottom:32px;
      .link{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
        color: #ff3838;
        padding-bottom: 4px;
        border-bottom: 1px dashed #ff3838;
        @media @mobile{
          font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        }
      }
      @media @mobile{
        margin-top:20px;
        margin-bottom: 22px;
      }
    }
    .contacts-list{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .contacts-item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 36px;
        @media @mobile{
          margin-right: 28px;
          align-items: flex-start;
        }
        &:last-child{
          margin-right: 0;
        }
        .icon{
          width:32px;
          height: 32px;
          margin-right: 24px;
          @media @mobile{
            margin-right: 8px;
            width: 20px;
            height: 20px;
            & path{
              fill: black;
            }
          }
        }

        .data{
          .title{
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 8px;
            @media @mobile{
              font-size: 10px;
              line-height: 8px;
              margin-bottom: 0;
            }
          }
          .descr{
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            @media @mobile{
              font-size: 10px;
              line-height: 20px;
            }
          }

          .descr-link{
            text-decoration: none;
            color:#0042B5;
              &--tel{
                color:black;
              }
          }
        }
      }
      @media @mobile{
        width: max-content;
      }
    }
  }
  &--feedback {
    @media @mobile{
      .section-container{
        .left{
          width: 100%;
          .title{
            font-weight: 500;
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 20px;
          }
        }
        .right{
          width: 100%;
        }

        .form-textarea{
          height: 56px;
        }
      }
      
      margin-bottom: 0;
    }
  }
}

.menu-container {
  @media @mobile{
    overflow: overlay;
    margin-right: -12px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  & .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;

    padding: 0;
    padding-bottom: 32px;
    @media @mobile{
      width: max-content;
      padding-bottom:20px;
    }
    & .tab-link,.nav-link {
      text-decoration: none;
      cursor: pointer;
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      border-bottom: 3px solid transparent;
      padding-bottom: 8px;
      color: #a8a8a8;
      transition: all 0.3s ease-in-out;
      margin-right: 40px;
      @media @mobile{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        color: black;
        border-color: #ff3838;
      }
    }
  }
}

.tabs-content {
  .tabs-content-item, .tab-pane.active  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    @media @mobile{
      flex-direction: column;
      width: 100%;
    }
    & .left {
      width: 588px;
      padding-right: 32px;
      @media @mobile{
        padding: 0;
        width: 100%;
        order:1;
      }
    }

    & .right {
      width: 432px;
      @media @mobile{
        padding: 0;
        width: 100%;
        .tabs-slider .slick-arrow{
          display: none!important;
        }
      }
    }
    & .text {
      p {
        margin-top: 0;
        font-size: 16px;
        line-height: 20px;
        color: #060606;
      }
      .form-group:last-child {
        margin-bottom: 0 !important;
      }
      .text-container{
        .text-show{
          display: none;
          font-size: 16px;
          line-height: 20px;
          color: #0042B5;
        }
        @media @mobile{
          .text-show{
            display: block;
            font-size: 16px;
          line-height: 20px;
          color: #0042B5;
          }
          max-height: 265px;
          overflow: hidden;
          transition: all .3s ease-out;
          &.open{
            max-height: 900px;
          }
          display: block;
        }
        
      }
    }
    .receiver {
      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 24px;
      @media @mobile{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        font-family: GraphikLCG;
        margin-bottom: 12px;
      }
    }
  }
}

.slick-slider {
  border-radius: 12px;
  overflow: hidden;
  .tabs-content-item-image {
    img {
      max-width: 100%;
    }
  }

  .slick-arrow {
    z-index: 4;
    width: 48px;
    height: 48px;
    &:before {
      content: none;
    }
    background-size: 8px 20px;
    &.slick-prev {
      left: 25px !important;
      background: url(assets/img/prev.svg) center center no-repeat;
    }
    &.slick-next {
      right: 25px !important;
      background: url(assets/img/next.svg) center center no-repeat;
    }
  }
}

.cert-info-title {
 
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 24px;
  .text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }
  .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    color: #ff3838;
    padding-bottom: 4px;
    border-bottom: 1px dashed #ff3838;
  }
  @media @mobile{
    margin-top:20px;
    .text{
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      font-family: GraphikLCG;
    }
    .link{
      font-weight: 500;
      font-size: 10px;
      line-height: 7px;
    }
  }
}

.list-money {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
  margin-bottom: 34px;
  margin-top: 0;
  @media @mobile{
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #a8a8a8;
    margin-right: 20px;
    padding: 13px 16px;
    background: #eeeeee;
    border-radius: 50px;
    transition: all 0.3s ease-out;
    &:last-child {
      margin-right: 0;
    }
    cursor: pointer;
    &.active {
      color: white;
      background: #ff3838;
      box-shadow: 0px 4px 7px rgba(255, 56, 56, 0.15);
    }
    @media @mobile{
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      padding: 12px;
      margin-right: 16px;
      margin-bottom: 16px;

    }
  }
}

.cert-count-container {
  width: 100%;
  margin-bottom: 34px;
  box-sizing: border-box;
  padding: 16px;
  background: #eeeeee;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn-plus,
  .btn-minus {
    width: 16px;
    color: #a8a8a8;
    cursor: pointer;
  }
  .label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }
  @media @mobile{
    margin-bottom: 20px;
    .label{
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
    }
  }
}


.section-container{
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  .left{
    width: 464px;
    padding-right: 24px;
    box-sizing: border-box;
  }  .right{
    width: calc(100% - 464px);
    .form-group:last-child{
      margin-bottom: 0;
    }
  }
  .title{
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 62px;

    color: #000000;
  }
}

.error-label{
  display: none!important;
}

.section-slider{
  background-color: transparent;
  margin-bottom: 40px;
  width: 100%;
  box-sizing: border-box;
  .slider-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .title{
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      display: flex;
      align-items: center;

      color: #FFFFFF;
      @media @mobile{
        padding:0 12px;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        max-width: 219px;
      }
    }

    .btns{
      display: flex;
      align-items: center;
      .icon-arrow{
        width:48px;
        height: 48px;
        cursor: pointer;
        &--prev{
          margin-right: 24px;
        }
      }
      @media @mobile{
        display: none;
      }
    }
  }

  .carousel {
    margin:0 -16px;
    @media @mobile { 
      margin: 0;
    }
    .slick-track{
     
      height: 232px;
      overflow: hidden;
    }
    .slide{
     
     
      height: 100%;
      border-radius: 12px;
      background-color: white;
      box-sizing: border-box;
      padding: 20px 20px 60px;
      margin:0 16px;
      width:352px!important;
      @media @mobile { 
        width:calc(100vw - 24px)!important;
        margin: 0 12px;
      }
      .slide-container{
        .title{
          font-weight: 500;
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 30px;
        }
        .text{
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    .slick-arrow{
      display: none!important;
    }
    
  }
  @media @mobile{
    margin-bottom: 12px;
  }
}

.hidden-mobile{
  @media @mobile{
    display: none;
  }
}



.btns--mobile{
  
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  .icon-arrow{
    width:48px;
    height: 48px;
    cursor: pointer;
    &--prev{
      margin-right: 24px;
    }
  }
  @media @mobile{
    display: flex;
  }
}

.text-show{
  font-size: 16px;
  line-height: 20px;
  color: #0042B5;

  display: none;


  @media @mobile{
   
  display: block;
  }
}