@font-face {
  font-family: GraphikLCG;
  src: url(assets/fonts/GraphikLCG-Regular.ttf);
}
@font-face {
  font-family: GraphikLCG;
  src: url(assets/fonts/GraphikLCG-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: GraphikLCG;
  src: url(assets/fonts/GraphikLCG-Semibold.ttf);
  font-weight: bold;
}
html,
body {
  height: 100%;
  font-family: GraphikLCG;
  width: 100%;
  margin: 0;
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
div,
form,
header,
nav,
section {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
.zapomny-page-container {
  background-color: #5c1d05;
}
.zapomny-page-container .main-content {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-top: 28px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-content {
    padding-top: 0;
  }
}
.zapomny-page-container .footer {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding: 30px 0 60px;
  width: 1264px;
  box-sizing: border-box;
  color: white;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.zapomny-page-container .footer .footer-email .link {
  color: white;
}
.zapomny-page-container .footer--mobile {
  display: none;
}
@media (max-width: 767px) {
  .zapomny-page-container .footer {
    display: none;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
  }
  .zapomny-page-container .footer .footer-content {
    display: block;
    font-size: 14px;
    line-height: 16px;
  }
  .zapomny-page-container .footer .footer-content .footer-copyright,
  .zapomny-page-container .footer .footer-content .footer-email {
    margin-bottom: 4px;
  }
  .zapomny-page-container .footer .footer-content .footer-contacts {
    display: block;
  }
  .zapomny-page-container .footer--mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.zapomny-page-container .footer-content {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
}
.zapomny-page-container .footer-contacts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.zapomny-page-container .footer .footer-email {
  margin-right: 36px;
}
.zapomny-page-container .footer .footer-email .link {
  color: white;
}
.zapomny-page-container .main-header {
  padding: 37px 0;
  width: 1264px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-header {
    display: none;
  }
}
.zapomny-page-container .main-header .header__menu-container {
  width: 458px;
}
.zapomny-page-container .main-header .header__menu-container .header-menu {
  width: 100%;
}
.zapomny-page-container .main-header .header__menu-container .header-menu .menu-list {
  padding: 9px 0;
}
.zapomny-page-container .main-header .header__menu-container .header-menu .menu-list .list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 40px;
}
.zapomny-page-container .main-header .header__menu-container .header-menu .menu-list .list-item:last-child {
  margin-right: 0;
}
.zapomny-page-container .main-header .header__info-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 458px);
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.zapomny-page-container .main-header .logo-container {
  padding-left: 119px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.zapomny-page-container .main-header .logo-container .logo-container-devider {
  height: 30px;
  width: 2px;
  margin: 0 20px;
  background-color: transparent;
}
.zapomny-page-container .main-header .logo-container img {
  width: 169px;
  height: auto;
}
.zapomny-page-container .main-header .logo-container .logo-container-image--first {
  height: 46px;
  width: auto;
}
.zapomny-page-container .main-header .logo-container .logo-container-image--second {
  height: 36px;
  width: auto;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item {
  margin-right: 56px;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item:last-child {
  margin-right: 0;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item .link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item .link .contacts-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item .link .contacts-icon path {
  fill: white;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item .link span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item--share {
  width: 129px;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item--share .icon {
  margin-right: 0 !important;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item--share .link {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item--share .link:before {
  transition: background-color 0.3s ease-in-out;
  content: "";
  display: block;
  width: 172px;
  box-sizing: border-box;
  height: 48px;
  left: -12px;
  position: absolute;
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 8px;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item--share .contacts-icon--hover {
  display: none;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item--share:hover .contacts-icon {
  display: none;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item--share:hover .contacts-icon--hover {
  display: block;
}
.zapomny-page-container .main-header .contacts-container .contacts-list .list-item--share:hover .link:before {
  content: "";
  background-color: rgba(175, 168, 160, 0.2);
}
.zapomny-page-container .main-header--mobile {
  display: none;
  width: 100%;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 12px 25px 12px;
  z-index: 10;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  box-sizing: border-box;
}
.zapomny-page-container .main-header--mobile .header__menu-container {
  width: 24px;
  height: 24px;
}
.zapomny-page-container .main-header--mobile .header-menu {
  display: none;
}
.zapomny-page-container .main-header--mobile .logo-container {
  padding-left: 0;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-header--mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.zapomny-page-container .main-header--mobile .icon-menu {
  width: 24px;
  height: 24px;
}
.zapomny-page-container .main-header--mobile .header__menu-container .header-menu {
  width: -webkit-max-content;
  width: max-content;
  margin-top: 8px;
}
.zapomny-page-container .main-header--mobile .header__menu-container .header-menu.active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.zapomny-page-container .main-header--mobile .header__menu-container .header-menu .menu-list {
  position: relative;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: max-content;
  padding: 19px 12px 19px 16px;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  border-radius: 12px;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 11;
}
.zapomny-page-container .main-header--mobile .header__menu-container .header-menu .menu-list .list-item {
  margin-bottom: 12px;
}
.zapomny-page-container .main-header--mobile .header__menu-container .header-menu .menu-list .list-item:last-child {
  margin-bottom: 0;
}
.zapomny-page-container .main-header--mobile .contacts-container .contacts-list .list-item .link .contacts-icon {
  width: 28px;
  height: 28px;
  margin-right: 0;
}
.zapomny-page-container ul.list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.zapomny-page-container ul.list-base {
  list-style-type: disc;
  padding-left: 22px;
}
.zapomny-page-container p.paragraph {
  margin-top: 0;
  margin-bottom: 16px;
}
.zapomny-page-container p.paragraph:last-child {
  margin-bottom: 0;
}
.zapomny-page-container a.link {
  text-decoration: none;
  color: white;
}
.zapomny-page-container .link {
  cursor: pointer;
}
.zapomny-page-container .orange {
  color: #e74e27;
}
.zapomny-page-container .container {
  width: 1120px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .zapomny-page-container .container {
    width: 100%;
  }
}
.zapomny-page-container .container .description {
  color: white;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  margin-top: 6px;
  max-width: 940px;
}
.zapomny-page-container .container .section-list {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 32px 0;
}
.zapomny-page-container .container .section-list .section-item {
  font-size: 16px;
  line-height: 20px;
  padding: 13px 16px;
  border-radius: 22px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  margin-right: 40px;
}
.zapomny-page-container .container .section-list .section-item:last-child {
  margin-right: 0;
}
.zapomny-page-container .container .info-list {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 32px 0 40px;
}
.zapomny-page-container .container .info-list .info-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 50px;
}
.zapomny-page-container .container .info-list .info-item:last-child {
  margin-right: 0px;
}
.zapomny-page-container .container .info-list .info-item .info-icon {
  width: 32px;
  height: 32px;
  margin-right: 24px;
}
.zapomny-page-container .container .info-list .info-item .info-icon path {
  fill: white;
}
.zapomny-page-container .container .info-list .info-item .title,
.zapomny-page-container .container .info-list .info-item .text {
  color: white;
  font-size: 16px;
  line-height: 20px;
}
.zapomny-page-container .container .info-list .info-item .title {
  margin-bottom: 8px;
}
.zapomny-page-container .screen-tabs-container {
  position: relative;
  padding-bottom: 42px;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .zapomny-page-container .screen-tabs-container {
    padding-bottom: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .zapomny-page-container .screen-tabs-container::-webkit-scrollbar {
    height: 0;
  }
  .zapomny-page-container .screen-tabs-container::-webkit-scrollbar {
    width: 0;
  }
}
.zapomny-page-container .screen-tabs-container .tabs-list {
  width: -webkit-max-content;
  width: max-content;
}
@media (max-width: 767px) {
  .zapomny-page-container .screen-tabs-container .tabs-list {
    display: none;
  }
}
.zapomny-page-container .screen-tabs-container .tabs-list .list-item {
  margin-right: 32px;
  background-color: transparent !important;
  outline: none;
}
.zapomny-page-container .screen-tabs-container .tabs-list .list-item:last-child {
  margin-right: 0;
}
.zapomny-page-container .screen-tabs-container .tabs-list .list-item .link {
  background-color: transparent !important;
  outline: none;
  transition: border-color 0.1s ease-out;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  font-weight: 500;
  font-size: 32px;
  color: #a8a8a8;
}
@media (max-width: 767px) {
  .zapomny-page-container .screen-tabs-container .tabs-list .list-item .link {
    font-size: 18px;
    line-height: 18px;
  }
}
.zapomny-page-container .screen-tabs-container .tabs-list .list-item .link.active {
  border-color: #ff3838;
  color: white;
}
.zapomny-page-container .screen-tabs-container .tabs-list--mobile {
  display: none;
  padding-left: 12px;
}
.zapomny-page-container .screen-tabs-container .tabs-list--mobile .list-item {
  margin-right: 40px;
}
@media (max-width: 767px) {
  .zapomny-page-container .screen-tabs-container .tabs-list--mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.zapomny-page-container .banner-container {
  border-radius: 32px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 32px;
  background: #f5f2ee;
  padding: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .zapomny-page-container .banner-container {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 14px;
    width: 100%;
  }
}
.zapomny-page-container .banner-container .banner-title {
  width: calc(50% - 21px);
  padding-right: 10px;
}
@media (max-width: 767px) {
  .zapomny-page-container .banner-container .banner-title {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
.zapomny-page-container .banner-container .banner-title p {
  font-weight: 500;
  font-size: 46px;
  line-height: 55px;
  margin: 0;
}
@media (max-width: 767px) {
  .zapomny-page-container .banner-container .banner-title p {
    font-size: 28px;
    line-height: 34px;
  }
}
.zapomny-page-container .banner-container .banner-description {
  width: 460px;
}
@media (max-width: 767px) {
  .zapomny-page-container .banner-container .banner-description {
    width: 100%;
  }
}
.zapomny-page-container .banner-container .banner-description .form-group {
  width: 100%;
  margin: 0;
  height: 76px;
}
@media (max-width: 767px) {
  .zapomny-page-container .banner-container .banner-description .form-group {
    height: 76px;
  }
  .zapomny-page-container .banner-container .banner-description .form-group:last-child {
    height: 56px;
  }
  .zapomny-page-container .banner-container .banner-description .form-group .form-input {
    font-weight: normal;
  }
}
.zapomny-page-container .form-group {
  width: 100%;
  margin-bottom: 24px;
}
.zapomny-page-container .form-group .error-label {
  display: none;
  color: red;
  font-weight: 500;
  margin-top: 4px;
  font-size: 14px;
  margin-bottom: 5px;
}
.zapomny-page-container .form-group.invalid .error-label {
  display: block;
}
.zapomny-page-container .form-group--checkbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.zapomny-page-container .form-input {
  width: 100%;
  border: 1px solid #9b8f82;
  outline-offset: -2px;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  transition: border-color 0.5s ease-out;
  background-color: transparent;
  padding: 16px;
  outline: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  color: white;
}
.zapomny-page-container .form-input:focus {
  border: 4px solid #e74e27;
  background: #ffffff;
  padding: 13px;
}
.zapomny-page-container .form-input::-webkit-input-placeholder {
  color: rgba(155, 143, 130, 0.6);
}
.zapomny-page-container .form-input:-ms-input-placeholder {
  color: rgba(155, 143, 130, 0.6);
}
.zapomny-page-container .form-input::placeholder {
  color: rgba(155, 143, 130, 0.6);
}
.zapomny-page-container .form-input.touched {
  background: #ffffff;
}
.zapomny-page-container .form-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.zapomny-page-container .form-checkbox + label {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .zapomny-page-container .form-checkbox + label {
    margin-left: 8px;
  }
}
.zapomny-page-container .form-checkbox + label::before {
  content: "";
  display: inline-block;
  min-width: 23px;
  height: 24px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  margin-right: 22px;
  background-color: transparent;
  cursor: pointer;
}
.zapomny-page-container .form-checkbox:checked + label::before {
  background-color: #a8a8a8;
  transition: background-color 0.3s ease-out;
}
.zapomny-page-container .form-checkbox:checked + label,
.zapomny-page-container .form-checkbox:not(:checked) + label {
  display: inline-block;
  line-height: 20px;
  cursor: pointer;
}
.zapomny-page-container .form-checkbox:checked + label:before,
.zapomny-page-container .form-checkbox:not(:checked) + label:before {
  content: "";
  position: relative;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
}
.zapomny-page-container .form-checkbox:checked + label:before {
  background-color: #ff3838;
  border-color: #ff3838;
}
.zapomny-page-container .form-checkbox:checked + label:after,
.zapomny-page-container .form-checkbox:not(:checked) + label:after {
  content: "";
  position: absolute;
}
.zapomny-page-container .form-checkbox:checked + label:after,
.zapomny-page-container .form-checkbox:not(:checked) + label:after {
  left: 5px;
  top: 6px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.zapomny-page-container .form-checkbox:not(:checked) + label:after {
  opacity: 0;
}
.zapomny-page-container .form-checkbox:checked + label:after {
  opacity: 1;
}
.zapomny-page-container .form-controls-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.zapomny-page-container .form-controls-row .form-group__checkbox {
  height: 62px !important;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.zapomny-page-container .form-controls-row .form-group__checkbox label {
  position: relative;
  margin-top: 7px;
}
.zapomny-page-container .form-controls-row .form-group__checkbox span {
  font-size: 16px;
  line-height: 16px;
}
@media (max-width: 767px) {
  .zapomny-page-container .form-controls-row .form-group__checkbox span {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: white;
  }
}
.zapomny-page-container .form-controls-row .form-group__checkbox span a {
  color: blue;
  text-decoration: none;
}
@media (max-width: 767px) {
  .zapomny-page-container .form-controls-row {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .zapomny-page-container .form-controls-row .btn-action {
    width: 100%;
    box-sizing: border-box;
  }
  .zapomny-page-container .form-controls-row .btn-action--active {
    background-color: #ff3838;
    box-shadow: 0px 4px 7px rgba(255, 56, 56, 0.15);
  }
}
.zapomny-page-container .btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 19px 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border-radius: 28px;
}
.zapomny-page-container .btn-action {
  cursor: default;
  color: #9b8f82;
  border: 1px solid #9b8f82;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  box-sizing: border-box;
}
.zapomny-page-container .btn-action--active {
  color: #ffffff;
  background: #ff3838;
  box-shadow: 0px 4px 7px rgba(110, 100, 77, 0.144613);
  border-color: unset;
  cursor: pointer;
}
.zapomny-page-container .main-list {
  padding-left: 0px;
  padding-right: 60px;
  margin-bottom: 0;
  font-weight: 500;
  margin-top: 0;
  list-style-type: none;
  counter-reset: my-counter;
}
.zapomny-page-container .main-list .list-item::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item::before {
    margin-top: 2px;
  }
}
.zapomny-page-container .main-list .list-base {
  margin-bottom: 8px;
}
.zapomny-page-container .main-list .list-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 32px;
  padding-left: 0px;
  padding-bottom: 32px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item {
    font-size: 16px;
    line-height: 19px;
    padding-left: 16px;
    padding-bottom: 20px;
  }
  .zapomny-page-container .main-list .list-item .paragraph {
    color: #a09488;
  }
  .zapomny-page-container .main-list .list-item .paragraph:last-child {
    margin-bottom: 0;
  }
  .zapomny-page-container .main-list .list-item:last-child {
    padding-bottom: 0;
  }
}
.zapomny-page-container .main-list .list-item__title {
  font-weight: 500;
  margin-bottom: 8px;
}
.zapomny-page-container .main-list .list-item__description {
  font-weight: normal;
}
.zapomny-page-container .main-list .list-item__description .image-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item__description .image-block {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.zapomny-page-container .main-list .list-item__description .image-block .img-banner {
  width: 488px;
  margin-right: 24px;
  height: auto;
}
.zapomny-page-container .main-list .list-item__description .image-block .img-banner:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item__description .image-block .img-banner {
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
  }
  .zapomny-page-container .main-list .list-item__description .image-block .img-banner:last-child {
    margin-bottom: 0;
  }
}
.zapomny-page-container .main-list .list-item__description .link {
  color: blue;
}
.zapomny-page-container .main-list .list-item .img-banner {
  width: 100%;
  height: auto;
}
.zapomny-page-container .main-list .list-item .img-banner--mobile {
  display: none;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item .img-banner--mobile {
    display: block;
  }
  .zapomny-page-container .main-list .list-item .img-banner--desktop {
    display: none;
  }
}
.zapomny-page-container .main-list .list-item .img-banner--size-1 {
  width: 624px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item .img-banner--size-1 {
    width: 100%;
  }
}
.zapomny-page-container .main-list .list-item .img-banner--size-2 {
  width: 508px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item .img-banner--size-2 {
    width: 100%;
  }
}
.zapomny-page-container .main-list .list-item .img-banner--size-3 {
  width: 902px;
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list .list-item .img-banner--size-3 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list {
    margin-top: 20px;
    padding-left: 8px;
    padding-right: 12px;
  }
}
@media (max-width: 767px) {
  .zapomny-page-container .main-list--activate-page {
    padding-left: 12px;
  }
  .zapomny-page-container .main-list--activate-page .list-item {
    padding-left: 0;
    padding-bottom: 8px;
  }
  .zapomny-page-container .main-list--activate-page .list-item__title {
    margin-bottom: 12px;
  }
  .zapomny-page-container .main-list--activate-page .list-item::before {
    content: none;
  }
  .zapomny-page-container .main-list--activate-page .list-item .list-base {
    list-style-type: none;
    counter-reset: my-counter;
    padding-left: 12px;
  }
  .zapomny-page-container .main-list--activate-page .list-item .list-base li {
    color: #a09488;
    padding-left: 24px;
    position: relative;
    padding-bottom: 9px;
  }
  .zapomny-page-container .main-list--activate-page .list-item .list-base li::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
    color: #a09488;
  }
  .zapomny-page-container .main-list--activate-page .list-item .img-banner {
    width: calc(100% - 36px);
    height: auto;
    margin-left: 36px;
  }
  .zapomny-page-container .main-list--activate-page .list-item__description .image-block .img-banner {
    width: calc(100% - 36px);
    margin-left: 36px;
    height: auto;
  }
}
.zapomny-page-container .share__nav {
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  z-index: 11;
  width: 180px;
  box-sizing: border-box;
  padding: 24px 20px;
  padding-left: 32px;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #000;
}
.zapomny-page-container .share__nav .share__item {
  margin-bottom: 20px;
}
.zapomny-page-container .share__nav .share__item:last-child {
  margin-bottom: 0;
}
.zapomny-page-container .share__nav .share__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  cursor: pointer;
}
.zapomny-page-container .share__nav .share__link img {
  height: 15px;
  width: 20px;
  margin-right: 12px;
}
.zapomny-page-container .share__nav .share__link_fb img {
  height: 19px;
}
.zapomny-page-container .form-success-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.zapomny-page-container .form-success-container .icon-success {
  width: 48px;
  height: 48px;
  margin-right: 22px;
}
.zapomny-page-container .form-success-container .success-message {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.zapomny-page-container .doc-privacy-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px 10px 10px;
  position: absolute;
  background-color: white;
}
@media (max-width: 767px) {
  .zapomny-page-container .doc-privacy-container {
    padding-top: 0;
  }
}
.zapomny-page-container .doc-privacy-container .doc__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 15px 10px 10px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}
@media (max-width: 767px) {
  .zapomny-page-container .doc-privacy-container .doc__wrap {
    padding: 0;
  }
}
.zapomny-page-container .doc-privacy-container .doc__body {
  width: 100%;
  overflow: auto;
  height: calc(100% - 46px);
}
.zapomny-page-container .doc-privacy-container .doc__article {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15;
  max-width: 640px;
  padding: 10px 10px 40px;
  margin: 0 auto;
  vertical-align: baseline;
  border: 0;
}
.zapomny-page-container .doc-privacy-container .doc__footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 6px;
}
.zapomny-page-container .doc-privacy-container .doc__footer-btn {
  padding: 15px 10px;
  width: 18%;
  text-align: center;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  background: #bda776;
}
@media (max-width: 767px) {
  .zapomny-page-container .doc-privacy-container .doc__footer-btn {
    width: 100%;
  }
}
.zapomny-page-container .doc-privacy-container .doc__footer-btn:hover {
  background: #9a875d;
}
.header-main-title {
  margin-top: 50px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 70px;
  color: white;
  line-height: 70px;
}
@media (max-width: 767px) {
  .header-main-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    margin: 0 12px;
    margin-bottom: 20px;
  }
}
.link span {
  color: white;
}
.section-white {
  background: #ffffff;
  border-radius: 32px;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
}
.menu-container .menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}
.menu-container .menu .tab-link {
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 3px solid transparent;
  padding-bottom: 8px;
  color: #A8A8A8;
  transition: all 0.3s ease-in-out;
  margin-right: 40px;
}
.menu-container .menu .tab-link:last-child {
  margin-right: 0;
}
.menu-container .menu .tab-link.active {
  color: black;
  border-color: #FF3838;
}
.tabs-content .tabs-content-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.tabs-content .tabs-content-item .left {
  width: 588px;
  padding-right: 32px;
}
.tabs-content .tabs-content-item .right {
  width: 432px;
}
.tabs-content .tabs-content-item .text p {
  margin-top: 0;
  font-size: 16px;
  line-height: 20px;
  color: #060606;
}
.slick-slider {
  border-radius: 12px;
  overflow: hidden;
}
.slick-slider .tabs-content-item-image img {
  max-width: 100%;
}
.slick-slider .slick-arrow {
  z-index: 4;
  width: 48px;
  height: 48px;
  background-size: 8px 20px;
}
.slick-slider .slick-arrow:before {
  content: none;
}
.slick-slider .slick-arrow.slick-prev {
  left: 25px !important;
  background: url(assets/img/prev.svg) center center no-repeat;
}
.slick-slider .slick-arrow.slick-next {
  right: 25px !important;
  background: url(assets/img/next.svg) center center no-repeat;
}
